#container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #222;
}

#maze {
	position: absolute;
	width: 340px;
	height: 240px;
	top: 30vh;
	left: 50%;
	transform: translate(-50%, -50%);
}

#player,
#home {
	position: absolute;
}

.barrier {
	position: absolute;
	background: #fff;
}

#top {
	top: 20px;
	left: 20px;
	width: 300px;
	height: 2px;
}

#bottom {
	top: 220px;
	left: 20px;
	width: 302px;
	height: 2px;
}

